.author {
  @include rem("margin", 15px 0 10px);
  @include rem("padding", 10px);
  background-color: #f3f3f3;
  display: flex;

  &__image {
    align-self: center;
    border-radius: 0 25% 0;
    max-width: 150px;
  }

  &__content-wrapper {
    @include rem("padding", 15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  &__name {
    @include rem("font-size", 20px);
    @include rem("margin-top", 10px);
    align-items: flex-end;
    color: $color-secondary;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }

  &__blurb {
    @include rem("font-size", 14px);
    font-style: italic;
    font-weight: $font-weight-light;
  }

  &__date {
    @include rem("font-size", 14px);
  }
}